<!--This is my form for new sinners to conress their sins.
It uses partials to template out the names of the form. Rails makes forms very easy. -->
<%= form_for :sinner, url: sinners_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :sin %><br>
    <%= f.text_area :sin %>
  </p>

  <p>
    <input type="submit" name="commit" value="Confess" data-disable-with="Confess">
  </p>
<% end %>
